<h1>{{wordDe}}</h1>

<section>
    <form method="post">
        <div><input name="wordDe" value="{{wordDe}}"></div>
        <div><input name="wordEn" value="{{wordEn}}"></div>
        <div><input name="lautschrift" value="{{lautschrift}}" class="ipa"></div>
        <div><input name="wordType" value="{{wordType}}"></div>
        <div><input name="verbPresentThirdPerson" value="{{verbPresentThirdPerson}}"></div>
        <div><input name="verbPreteriteFirstPerson" value="{{verbPreteriteFirstPerson}}"></div>
        <div><input name="verbPreteriteThirdPerson" value="{{verbPreteriteThirdPerson}}"></div>
        <div><input name="verbPerfectAuxiliaryThird" value="{{verbPerfectAuxiliaryThird}}"></div>
        <div><input name="verbPastParticiple" value="{{verbPastParticiple}}"></div>
        <div><input name="nounArticle" value="{{nounArticle}}"></div>
        <div><input name="nounPlural" value="{{nounPlural}}"></div>
        <div><input name="nounGender" value="{{nounGender}}"></div>
        <div><textarea name="exampleSentenceDe">{{exampleSentenceDe}}</textarea></div>
        <div><textarea name="exampleSentenceEn">{{exampleSentenceEn}}</textarea></div>

        <div><input name="_id" value="{{_id }}"></div>

        <div>
            <button>Update</button>
        </div>
    </form>
</section>
