<h1>{{title}}</h1>

<section>
    <div>
        <form action="/research">
            <input name="q">
            <button>Research Word</button>
        </form>
    </div>
</section>

<section>
    <h2>Staged cards</h2>
    <p>We have <b>{{countStaged}}</b> / {{countCard}} staged cards. [<a href="/cards/export">Export Staged</a>]</p>
    <ul>
        {{#each cards}}
            <li>
                <span>{{isStaged}}</span>
                <span>{{wordDe}}</span>
                <span>{{wordEn}}</span>
                <span>[<a href="{{url}}">edit</a>]</span>
                <span>[<a href="{{_id}}">delete</a>]</span>
            </li>
        {{/each}}
    </ul>
</section>
