<h1>{{word_de}}</h1>

<section>
    <form>
        <input name="wordDe" value="{{wordDe}}">
        <input name="wordEn" value="{{wordEn}}">
        <input name="lautschrift" value="{{lautschrift}}">
        <input name="wordType" value="{{wordType}}">
        <input name="verbPresentThirdPerson" value="{{verbPresentThirdPerson}}">
        <input name="verbPreteriteFirstPerson" value="{{verbPreteriteFirstPerson}}">
        <input name="verbPreteriteThirdPerson" value="{{verbPreteriteThirdPerson}}">
        <input name="verbPerfectAuxiliaryThird" value="{{verbPerfectAuxiliaryThird}}">
        <input name="verbPastParticiple" value="{{verbPastParticiple}}">
        <input name="nounArticle" value="{{nounArticle}}">
        <input name="nounPlural" value="{{nounPlural}}">
        <input name="nounGender" value="{{nounGender}}">
        <textarea name="exampleSentenceDe">{{exampleSentenceDe}}</textarea>
        <textarea name="exampleSentenceEn">{{exampleSentenceEn}}</textarea>
    </form>
</section>
